/**
* @file
* Foglio di stile CSS
*/

.example-desc 
{
    margin:3px 0;
    padding:5px;
}

#carousel 
{
  width:100%;
  height:300px;
  position:relative;
  clear:both;
  overflow:hidden;
  margin:0px auto;
}
      
#carousel img 
{
	visibility:hidden;
	cursor:pointer;
}

.split-left 
{
    width:450px;
    float:left;
}
      
.split-right 
{
    width:400px;
    float:left;
    margin-left:10px;
}
      
#callback-output 
{
    height:250px;
    overflow:scroll;
}
      
textarea#newoptions 
{
    width:430px;
}

.imgAdmin
{
	width:320px;
	height:180px;
	margin: 0 10px 10px 0;
	border: 2px solid #666666;
	padding: 3px;
}

.carouselNavigation
{
	position:relative;
	text-align:center;
}

.carouselAutoplay
{
	position:relative;
	text-align:center;
}